<!DOCTYPE html>
  <html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  </head>
  <body>
    <h4>guest message</h4>

    <div class="list-group">
        <% for (var i = 0; i < posts.length; i++){ %>
        <div class="list-group-item">
            <p>TO <%= posts[i].받는이 %></p>
            <p>FROM <%= posts[i].보내는이 %></p>
            <p><%= posts[i].내용 %></p>
          <button class="delete" data-id="<%= posts[i]._id %>" data-passWord="<%= posts[i].비밀번호 %>">삭제</button>
        </div>
        <% } %>
    </div>

    <div class="container">
      <form id='addForm' action="/add" method="post">
          <div class="textArea">
              <div class="to">
                  <span class="box">TO</span>
                  <input type="text" placeholder="이름" name="toName">
              </div>
              <div class="from">
                  <span class="box">FROM</span>
                  <input type="text" placeholder="이름" name="fromName">
              </div>

              <textarea name="message" id="message" cols="30" rows="10" placeholder="메세지를 입력하세요."></textarea>
              <div class="password">
                  <span class="box">password</span>
                  <input type="password" id = 'password' placeholder="****" name="password" maxlength="4">
              </div>
          </div>
          <button type="submit" class="btn">보내기</button>
      </form>
      
      <div class="showText">

      </div>


    <script
  src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script>
        //서버에 ajax delete 요청 날리기
        $('.delete').click(function(e){
              var psw = prompt('비밀번호를 입력하세요:', '')
              console.log(e.target.dataset.password)
              if (psw == e.target.dataset.password){
                $.ajax({
                  method:'DELETE',
                  url:'/delete',
                  data: {_id:e.target.dataset.id}
              }).done((결과)=>{
                  //ajax성공시 실행할 코드는 여기
                  $(this).parent('.list-group-item').fadeOut();
              }).fail((err)=>{
                console.log('실패');
              })
              }


            }

        )
        //비밀번호 입력

    </script>  
</body>
</html>